<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

{{phone_name}}

<button ng-click="count = count + 1; calculateModule()" ng-init="count=0">
  Increment
</button>


<form name="myForm">
  <label>
    User name:
    <input type="text" name="userName" ng-model="username" required>
  </label>
</form>


<span>
  count: {{count}}
  modu: {{modu}}
  user: {{username}}
</span>

